/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-dialog-surface {
    overflow-y: unset !important;
}

.loading-container {
    min-height: 60vh !important;
}

@font-face {
    font-family: 'Pokemon Solid';
    src: url('assets/fonts/PokemonSolid.ttf') format('truetype');
    /* Ajuste o nome do arquivo conforme necessário */
    font-weight: normal;
    font-style: normal;
}